body{
    background-color:aqua;
}
.box{
    height: 400px;
    width: 350px;
    border: 1px solid red;
    margin: 50px auto;
    border-radius: 50px;
    background: linear-gradient(140deg, blue,white);
    text-align: center;
}
.box input{
    height: 45px;
    width: 200px;
    border-radius: 10px;
    font-size: 18px;
}
.box button{
    height: 45px;
    border-radius: 10px;
    font-size: 18px;
    background-color: deeppink;
}